<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <mat-toolbar>
    <mat-toolbar-row>

      <button mat-raised-button routerLinkActive="active" routerLink="/add" class="actbtn">Hozzáadás</button>

      <button mat-raised-button routerLinkActive="active" (click)=logout() class="actbtnn">Kijelentkezés</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-title>Parfümök</mat-card-title>


    <p></p>

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Parfüm neve</th>
          <th>Parfüm kódja</th>
          <th>Típus</th>
          <th>Nem</th>
          <th>Megjelenés dátuma</th>
          <th>Leírás</th>
          <th>Ár(Ft)</th>
          <th>Mennyiség(db)</th>
          <th>Törlés</th>
        </tr>
      </thead>
      <tr *ngFor="let parfume of Parfume; let i = index">
        <td>{{parfume.parfumeName}}</td>
        <td>{{parfume.parfumeCode}}</td>
        <td>{{parfume.type}}</td>
        <td>{{parfume.parfumeFor}}</td>
        <td>{{parfume.releaseDate | date:'yyyy-MM-dd'}}</td>
        <td>{{parfume.description}}</td>
        <td>{{parfume.price}}</td>
        <td>
          <button mat-icon-button color="primary" (click)="decrementAmount(parfume)">
            <mat-icon>remove</mat-icon>
          </button>
          {{parfume.amount}}
          <button mat-icon-button color="primary" (click)="incrementAmount(parfume)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button class="material-icons" color="warn" (click)="deleteParfume(parfume._id, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </mat-card>

  <div class="chart-container" style="display: block;">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
            [options]="pieChartOptions">
    </canvas>
  </div>

</body>

</html>