<html>
<body>



<mat-toolbar >
<mat-toolbar-row>

  <button mat-raised-button routerLinkActive="active" routerLink="/list" class="actbtn" >Listázás</button>

  <button mat-raised-button routerLinkActive="active" (click)=logout() class="actbtnn" >Kijelentkezés</button>

</mat-toolbar-row>
</mat-toolbar>
  <p></p>


  <p></p>
<mat-card class="example-card">
  <mat-panel-title class="mat-title"> Parfüm hozzáadása </mat-panel-title>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" >
      <mat-form-field >
        <input matInput type="text" placeholder="Parfüm neve" formControlName="parfumeName">
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Parfüm kódja" type="text"  formControlName="parfumeCode">
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Típus</mat-label>
        <mat-select formControlName="type">
          <mat-option value="Parfume">Parfume</mat-option>
          <mat-option value="Eau de Parfume">Eau de Parfume</mat-option>
          <mat-option value="Eau de Toilette">Eau de Toilette</mat-option>
          <mat-option value="Eau de Cologne">Eau de Cologne</mat-option>
          <mat-option value="Eau Fraiche">Eau Fraiche</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Neme</mat-label>
        <mat-select formControlName="parfumeFor">
          <mat-option value="Női">Női</mat-option>
          <mat-option value="Férfi">Férfi</mat-option>
          <mat-option value="Uniszex">Uniszex</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Megjelenés időpontja" type="date" formControlName="releaseDate">
      </mat-form-field>
      <br>

      <mat-form-field>
        <textarea matInput placeholder="Leírás" formControlName="description" 
                  cdkAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Ár" type="text"  formControlName="price">
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Mennyiség" type="text"  formControlName="amount">
      </mat-form-field>
      <br>

      <button mat-raised-button type="submit"  class="btn" >Hozzáadás</button>

    </form>

  </mat-card>

</body>
</html>
